*.md
!README.md

__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.cache/
.pytest_cache/

.env
.venv/
venv/

.DS_Store

S_hat.npy
radioactivity_mesh.obj
radioactivity_mesh.gltf
radioactivity_mesh.ply
material.mtl
material_0.png
